:root {
    --primary-color: #eb6534;
    --secondary-color: #40476d;
    --light: #F2F2F2;
    --dark: #020202;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body, html {
    width: 100%;
    height: 100%;
}